<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head lang="en">
      <title>Road Tuner | Welcome!</title>
      <th:block th:include="fragments/includes :: head"></th:block>
</head>

<body>

      <h1 th:replace="fragments/fragments :: header"></h1>

      <div class="container">
            <div class="page-header">
                  <h1>Road tuner
                        <small>For car enthusiasts like you!</small>
                  </h1>
            </div>
            <div class="jumbotron">
                  <h1>Welcome to road tuner!</h1>
                  <p>A collection of web apps that help you tune your car.</p>
                  <p>
                        - <a th:href="@{/dyno-plots}">
                        Road dyno.
                        <span class="sr-only">(current)</span>
                  </a>
                        Turn your data logs into real dyno graphs!
                  </p>
                  <p>
                        - <a th:href="@{/vvt-tuner}">
                        VVT tuner.
                        <span class="sr-only">(current)</span>
                  </a>
                        Helps you tune the vvt settings on your variable valve timing engine (including Lift/Vtec
                        activation)!
                  </p>
                  <p>
                        - More to come? Who knows...
                  </p>
            </div>
            <div th:include="fragments/fragments :: footer"></div>
      </div>

</body>
</html>