body {
    background: url(../images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 small{
    color: white;
}

form {
    background-color: white;
    padding: 15px;
    border-radius: 6px;
    width: 600px;
    margin: auto;
}

form span.input-group-addon {
    width: 144px;
}

span.input-group-addon:first-child {
    text-align: right;
}

input.form-control + span {
    text-align: left;
}

form span.help-block {
    font-size: 12px;
}

footer {
    color: white;
}