<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>

<nav class="navbar navbar-inverse" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}" style="padding-top: 0;" title="Road Tuner is still in beta version!">
                <img th:src="@{/images/logo.png}"/>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li th:class="${nav=='dyno-plots'}? 'active' : ''">
                    <a th:href="@{/dyno-plots}">Road dyno<span class="sr-only">(current)</span></a>
                </li>

                <li th:class="${nav=='vvt-tuner'}? 'active' : ''">
                    <a th:href="@{/vvt-tuner}">VVT tuner<span class="sr-only">(current)</span></a>
                </li>

                <li th:class="${nav=='contact'}? 'active' : ''">
                    <a th:href="@{/contact}">Contact <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div th:fragment="footer">
    <hr/>
    <footer>
        v0.4beta
        &copy; 2018 <a th:href="@{/}">Road tuner</a>
        <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/sikrip">
            <span class="fa fa-twitter"></span>
        </a>
        <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/sikrip">
            <span class="fa fa-facebook"></span>
        </a>
    </footer>
</div>

</body>

</html>