<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="fields">

    <fieldset>
        <legend>Gearing</legend>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="fgr">Tyre diameter</label>
            <div class="col-sm-3">
                <div class="input-group">
                    <input
                        id="tyreDiameter"
                        type="number"
                        step="any"
                        min="0"
                        required="required"
                        th:field="*{tyreDiameter}"
                        class="form-control"
                    />
                    <div class="input-group-addon" id="tyreDiameter-alt">mm (0 inch)</div>
                </div>
                <span class="help-block">The diameter of the driving wheels in <strong>millimeters</strong> (equivalent in inches).</span>
            </div>

            <label class="col-sm-2 control-label" for="fgr">Gearbox</label>
            <div class="col-sm-2">
                <input placeholder="final gear ratio" type="number" id="fgr" step="any" min="0" required="required" th:field="*{finalGearRatio}" class="form-control"/>
                <span class="help-block">The final gear ratio of your gearbox.</span>
            </div>
            <div class="col-sm-2">
                <input placeholder="gear ratio" type="number" step="any" id="gr" required="required" th:field="*{gearRatio}" class="form-control"/>
                <span class="help-block">The ratio of the gear used during the run.</span>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Weight</legend>
        <div class="form-group">

            <label class="col-sm-2 control-label" for="curbWeight">Curb weight (kg)</label>
            <div class="col-sm-3">
                <div class="input-group">
                    <input id="curbWeight" type="number" step="any" min="0" required="required" th:field="*{carWeight}" class="form-control"/>
                    <div id="curbWeight-alt" class="input-group-addon">kg (0 pounds)</div>
                </div>
                <span class="help-block">The curb weight of the car in <strong>kilograms</strong> (equivalent in pounds).</span>
            </div>

            <label class="col-sm-2 control-label" for="occWeight">Occupants weight (kg)</label>
            <div class="col-sm-3">
                <div class="input-group">
                    <input id="occWeight" type="number" step="any" min="0" required="required" th:field="*{occupantsWeight}" class="form-control"/>
                    <div id="occWeight-alt" class="input-group-addon">kg (0 pounds)</div>
                </div>
                <span class="help-block">The weight in <strong>kilograms</strong> of the occupants during the run (equivalent in pounds).</span>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Aero</legend>
        <small style="padding-left: 38px;">For info regarding aero properties of you car see
            <a href="http://ecomodder.com/wiki/index.php/Vehicle_Coefficient_of_Drag_List" tabindex="99" target="_blank">here</a>.
            Just make sure you type the frontal area in square meters and not in square feet!
        </small>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="frontalArea">Frontal area (sqm)</label>
            <div class="col-sm-3">
                <div class="input-group">
                    <input id="frontalArea" type="number" step="any" max="3" min="1" required="required" th:field="*{frontalArea}" class="form-control"/>
                    <div id="frontalArea-alt" class="input-group-addon">sqm (0 sqft)</div>
                </div>
                <span class="help-block">The frontal area of the car in <strong>square meters</strong> (equivalent in square feet).</span>
            </div>

            <label class="col-sm-2 control-label" for="cd">Coefficient of Drag</label>
            <div class="col-sm-3">
                <input type="number" step="any" id="cd" max="0.99" min="0.1" required="required" th:field="*{coefficientOfDrag}" class="form-control"/>
                <span class="help-block">The drag coefficient of the car.</span>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Additional fields to plot</legend>
        <label class="col-sm-2 control-label" for="cd">Field A</label>
        <div class="col-sm-3">
            <select class="form-control" th:field="*{auxiliaryPlotFieldA}"  id="auxiliaryPlotFieldA">
                <option value=""> </option>
                <option th:each="plotField : ${additionalPlotFields}" th:value="${plotField}" th:text="${plotField}"/>
            </select>
        </div>
        <label class="col-sm-2 control-label" for="cd">Field B</label>
        <div class="col-sm-3">
            <select class="form-control" th:field="*{auxiliaryPlotFieldB}"  id="auxiliaryPlotFieldB">
                <option value=""> </option>
                <option th:each="plotField : ${additionalPlotFields}" th:value="${plotField}" th:text="${plotField}"/>
            </select>
        </div>
    </fieldset>

    <script>
        $(document).ready(function () {

            // Tyre diameter, mm to inch
            var $tyreDiameter = $('#tyreDiameter');
            var $tyreDiameterAlt = $('#tyreDiameter-alt');
            function tyreDiameterAltUnit() {
                var mm = parseFloat($tyreDiameter.val());
                if (isNaN(mm)) {
                    $tyreDiameterAlt.text('mm (0 inch)');
                } else {
                    var inch = (mm * 0.03937007).toPrecision(4);
                    $tyreDiameterAlt.text('mm (' + inch + ' inch)');
                }
            }
            // Register the conversion events
            $tyreDiameter.change(tyreDiameterAltUnit);
            $tyreDiameter.keyup(tyreDiameterAltUnit);
            // Convert on render
            tyreDiameterAltUnit();

            // Curb weight, kg to pounds
            var $curbWeight = $('#curbWeight');
            var $curbWeightAlt = $('#curbWeight-alt');
            function curbWeightAltUnit() {
                var kg = parseFloat($curbWeight.val());
                if (isNaN(kg)) {
                    $curbWeightAlt.text('kg (0 pounds)');
                } else {
                    var pounds = (kg * 2.20462262).toPrecision(4);
                    $curbWeightAlt.text('kg (' + pounds + ' pounds)');
                }
            }
            // Register the conversion events
            $curbWeight.keyup(curbWeightAltUnit);
            $curbWeight.change(curbWeightAltUnit);
            // Convert on render
            curbWeightAltUnit();

            // Occupants weight, kg to pounds
            var $occWeight = $('#occWeight');
            var $occWeightAlt = $('#occWeight-alt');
            function occWeightAltUnit() {
                var kg = parseFloat($occWeight.val());
                if (isNaN(kg)) {
                    $occWeightAlt.text('kg (0 pounds)');
                } else {
                    var pounds = (kg * 2.20462262).toPrecision(4);
                    $occWeightAlt.text('kg (' + pounds + ' pounds)');
                }
            }
            // Register the conversion events
            $occWeight.keyup(occWeightAltUnit);
            $occWeight.change(occWeightAltUnit);
            // Convert on render
            occWeightAltUnit();

            // Frontal area, sqm to sqf
            var $frontalArea = $('#frontalArea');
            var $frontalAreaAlt = $('#frontalArea-alt');
            function frontalAreaAltUnit() {
                var sqm = parseFloat($frontalArea.val());
                if (isNaN(sqm)) {
                    $frontalAreaAlt.text('sqm (0 sqft)');
                } else {
                    var sqft = (sqm * 10.7639104).toPrecision(4);
                    $frontalAreaAlt.text('sqm (' + sqft + ' sqft)');
                }
            }
            // Register the conversion events
            $frontalArea.keyup(frontalAreaAltUnit);
            $frontalArea.change(frontalAreaAltUnit);
            // Convert on render
            frontalAreaAltUnit();
        });
    </script>
</div>

</body>

</html>