body {
    background: url(../images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 small {
    color: white;
}

form.form-horizontal {
    background-color: white;
    padding: 15px;
    border-radius: 6px;
    margin: auto;
}

form span.input-group-addon {
    width: 144px;
}

.input-group-addon:last-child {
    font-size: x-small;
    width: 85px;
}

input.form-control + span {
    text-align: left;
}

legend {
    padding-left: 15px;
    color: gray;
}

label {
    color: gray;
}

footer, footer a {
    color: white;
}

div.vehicleInfo {
    font-size: 12px;
}

div.vehicleInfo div {
    padding: 0 0 0 8px;
}

div.vehicleInfo hr {
    margin: 5px;
}