<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <title>Road Dyno | Add run</title>
    <th:block th:include="fragments/includes :: head"></th:block>
</head>

<body>

<h1 th:replace="fragments/fragments :: header"></h1>


<div class="container">
    <div class="page-header">
        <h1>Online dyno
            <small>Add run</small>
        </h1>
    </div>
    <form class="form-horizontal" th:object="${runInfo}" th:action="@{/addrun}" method="post"
          enctype="multipart/form-data">

        <input type="hidden" th:field="*{id}"/>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>Log file</h4>
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="selected-file">Selected file</label>
                    <div class="col-sm-2">
                        <input type="text" disabled="disabled" id="selected-file" name="ignored" th:value="${runInfo.name}"/>
                    </div>

                    <label class="col-sm-2 control-label" for="run-list">Select a run</label>
                    <div class="col-sm-3">
                        <select th:field="*{selectedAccelerationIdx}" id="run-list">
                            <option th:each="accelerationRun, i : ${runInfo.accelerations}"
                                    th:value="${i.index}"
                                    th:text="${accelerationRun}"></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>Vehicle info</h4>
            </div>
            <div th:include="fragments/run-info-form :: fields"></div>
        </div>

        <hr/>
        <button type="submit" class="btn btn-primary active">Load run</button>
        <a th:href="@{/onlinedyno}" class="btn btn-default active">Cancel</a>
    </form>
    <div th:include="fragments/fragments :: footer"></div>
</div>

</body>
</html>