<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <title>Welcome to Road Dyno!</title>
    <th:block th:include="fragments/includes :: head"></th:block>
</head>

<body>

<h1 th:replace="fragments/fragments :: header"></h1>

<div class="container">
    <form class="form-horizontal" th:object="${runInfo}" th:action="@{/addrun}" method="post" enctype="multipart/form-data">

        <div class="form-group">
            <label class="col-sm-2 control-label">Log file:</label>

            <div class="col-sm-10">
                <input type="file" name="file" accept=".msl"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Final gear ratio:</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{finalGearRatio}"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Gear ratio:</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{gearRatio}"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Tyre diameter(mm):</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{tyreDiameter}"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Curb weight(kg):</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{carWeight}"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Occupants weight(kg):</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{occupantsWeight}"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Frontal area(m^2):</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{frontalArea}"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Coefficient of Drag:</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{coefficientOfDrag}"/>
            </div>
        </div>

        <div class="row">
            <button type="submit" class="btn btn-default">Load run</button>
        </div>
    </form>
</div>

<div th:include="fragments/fragments :: copy"></div>
</body>
</html>