<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <title>Welcome to Road Dyno!</title>
    <th:block th:include="fragments/includes :: head"></th:block>
    <!-- amCharts javascript sources -->
    <script src="http://www.amcharts.com/lib/3/amcharts.js" type="text/javascript"></script>
    <script src="http://www.amcharts.com/lib/3/xy.js" type="text/javascript"></script>


</head>

<body>


<h1 th:replace="fragments/fragments :: header"></h1>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <form class="form-horizontal" th:each="runInfo : ${runInfoList}">
                <h4 th:attr="style='color:' + ${runInfo.color}" th:text="${runInfo.name}">name</h4>
                <div class="form-group">
                    <label class="col-sm-2 control-label">FGR: </label>
                    <div lass="col-sm-10">
                        <p class="form-control-static" th:text="${runInfo.finalGearRatio}">name</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Gear ratio:</label>
                    <div lass="col-sm-10">
                        <p class="form-control-static" th:text="${runInfo.gearRatio}">name</p>
                    </div>
                </div>
            </form>
            <a th:href="@{/addrun}">Add run</a>
        </div>
        <div id="chartdiv" class="col-md-9" style="height: 600px; background-color: #FFFFFF;"></div>
    </div>
</div>

<div th:include="fragments/fragments :: copy"></div>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var chartText = /*[[${chartDef}]]*/ '{}';
    var chartDef = JSON.parse(chartText);
    AmCharts.makeChart("chartdiv", chartDef);
    /*]]>*/
</script>

</body>
</html>