<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <title>Road Dyno | Online dyno</title>
    <th:block th:include="fragments/includes :: head"></th:block>
</head>

<body>

<h1 th:replace="fragments/fragments :: header"></h1>

<div class="container">
    <div class="jumbotron">
        <p>No runs are loaded</p>
        <p><a class="btn btn-primary btn-lg" th:href="@{/addrun}" role="button">Load your WOT run now!</a></p>
    </div>
    <div th:include="fragments/fragments :: copy"></div>
</div>

</body>
</html>