<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <title>Road Dyno | Online dyno</title>
    <th:block th:include="fragments/includes :: head"></th:block>

    <!-- amCharts javascript sources -->
    <script src="http://www.amcharts.com/lib/3/amcharts.js" type="text/javascript"></script>
    <script src="http://www.amcharts.com/lib/3/xy.js" type="text/javascript"></script>
</head>

<body>

<h1 th:replace="fragments/fragments :: header"></h1>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div th:if="${not #lists.isEmpty(runInfoList)}">

                        <div class="panel panel-info" th:each="runInfo : ${runInfoList}">
                            <div class="panel-heading" th:attr="style='color:' + ${runInfo.color}">
                                <th:block th:text="${runInfo.name}"/>
                                <a th:href="${'/remove/' + runInfo.id}" type="button" style="float: right"
                                   title="remove run" class="btn btn-default btn-xs">
                                    <span class="glyphicon glyphicon-remove"/>
                                </a>
                                <a th:href="${'/edit/' + runInfo.id}" type="button" style="float: right"
                                   title="edit run" class="btn btn-default btn-xs">
                                    <span class="glyphicon glyphicon-edit"/>
                                </a>
                            </div>

                            <div class="panel-body">
                                <dl class="dl-horizontal">
                                    <dt>Final gear ratio:</dt>
                                    <dd th:text="${runInfo.finalGearRatio}"></dd>
                                    <dt>Gear Ratio:</dt>
                                    <dd th:text="${runInfo.gearRatio}"></dd>
                                    <dt>Tyre diameter:</dt>
                                    <dd th:text="${runInfo.tyreDiameter}"></dd>
                                    <dt>Curb Weight:</dt>
                                    <dd th:text="${runInfo.carWeight}"></dd>
                                    <dt>Occ. Weight:</dt>
                                    <dd th:text="${runInfo.occupantsWeight}"></dd>
                                    <dt>Frontal Area:</dt>
                                    <dd th:text="${runInfo.frontalArea}"></dd>
                                    <dt>Coeff. of Drag:</dt>
                                    <dd th:text="${runInfo.coefficientOfDrag}"></dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a th:href="@{/addrun}" class="btn btn-info btn-xs">Add run</a>
                    <a th:href="@{/clearall}" class="btn btn-warning btn-xs">Clear all</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="chartdiv" style="min-height: 600px;"></div>
                <div id="auxChart" style="min-height: 200px;"></div>
            </div>
        </div>
    </div>
    <div th:include="fragments/fragments :: copy"></div>
</div>


<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var chartText = /*[[${chartDef}]]*/ '{}';
    var chartDef = JSON.parse(chartText);
    AmCharts.makeChart("chartdiv", chartDef);

    var auxChartText = /*[[${auxChartDef}]]*/ '{}';
    var auxChartDef = JSON.parse(auxChartText);
    AmCharts.makeChart("auxChart", auxChartDef);
    /*]]>*/
</script>

</body>
</html>