<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <title>Road Dyno | Add run</title>
    <th:block th:include="fragments/includes :: head"></th:block>
</head>

<body>

<h1 th:replace="fragments/fragments :: header"></h1>

<div class="container">
    <div class="page-header">
        <h1>Online dyno
            <small>Select log file</small>
        </h1>
    </div>
    <form class="form-horizontal page-content" th:object="${runInfo}" th:action="@{/add}" method="post" enctype="multipart/form-data">

        <input type="hidden"  name="${_csrf.parameterName}"   value="${_csrf.token}"/>
        <input type="hidden" th:field="*{id}"/>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>Log file</h4>
            </div>

            <div class="panel-body">
                <input type="file" required="required" name="file" accept=".msl, .vbo"/>
                <hr/>
                <p>Max file size is <strong th:text="${maxFileSize}"></strong>.</p>
                <p>For the time being, supported log formats are:</p>
                <ul>
                    <li>Megasquirt (<strong>.msl</strong>) logs</li>
                    <li>VBox (<strong>.vbo</strong>) logs (drfitbox <strong>.dbn</strong> files can be converted to .vbo files with Driftbox tools [open and save as .vbo])</li>
                </ul>
                <p>For <strong>GPS logs</strong> make sure you are logging with <strong>at least 5hz refresh rate</strong>.</p>
                <p>For <strong>ECU logs</strong> make sure that the following data are logged:</p>
                <ul>
                    <li><strong>Time</strong></li>
                    <li><strong>RPM</strong></li>
                    <li><strong>TPS</strong></li>
                </ul>
            </div>
        </div>

        <hr/>
        <button type="submit" class="btn btn-primary active">Load file</button>
        <a th:href="@{/dyno-plots}" class="btn btn-default active">Cancel</a>
    </form>
    <div th:include="fragments/fragments :: footer"></div>
</div>

</body>
</html>