<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <title>Road Dyno | Update run</title>
    <th:block th:include="fragments/includes :: head"></th:block>
</head>

<body>

<h1 th:replace="fragments/fragments :: header"></h1>

<div class="container">
    <form class="form-horizontal" th:object="${runInfo}" th:action="@{/updaterun}" method="post">

        <input type="hidden" th:field="*{id}"/>

        <div class="form-group">
            <label class="col-sm-2 control-label">Log file:</label>

            <div class="col-sm-10">
                <input type="text" disabled="disabled" name="ignored" th:value="${runInfo.name}"/>
            </div>
        </div>

        <div th:include="fragments/run-info-form :: fields"></div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary active">Update run</button>
                <a th:href="@{/onlinedyno}" class="btn btn-default active">Cancel</a>
            </div>
        </div>
    </form>
    <div th:include="fragments/fragments :: footer"></div>
</div>

</body>
</html>