<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>

<nav class="navbar navbar-default" th:fragment="header">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">
                "Road Dyno"
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li th:class="${nav=='onlinedyno'}? 'active' : ''">
                    <a th:href="@{/onlinedyno}">Online dyno <span class="sr-only">(current)</span></a>
                </li>
                <li th:class="${nav=='help'}? 'active' : ''">
                    <a th:href="@{/help}">Help <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div th:fragment="copy">
    &copy; 2016 Road dyno
</div>

</body>

</html>