<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="fields">
    <div class="input-group">
        <span class="input-group-addon">Final gear ratio</span>
        <input type="text" th:field="*{finalGearRatio}" class="form-control"/>
    </div>
    <span class="help-block">The final gear ratio of your gearbox.</span>

    <div class="input-group">
        <span class="input-group-addon">Gear ratio</span>
        <input type="text" th:field="*{gearRatio}" class="form-control"/>
    </div>
    <span class="help-block">The ratio of the gear used during the run.</span>

    <div class="input-group">
        <span class="input-group-addon">Tyre diameter</span>
        <input type="text" th:field="*{tyreDiameter}" class="form-control"/>
        <span class="input-group-addon">mm (000 inch)</span>
    </div>
    <span class="help-block">The diameter of the driving wheels in millimeters (equivalent in inches).</span>

    <div class="input-group">
        <span class="input-group-addon">Curb weight</span>
        <input type="text" th:field="*{carWeight}" class="form-control"/>
        <span class="input-group-addon">kg (000 pounds)</span>
    </div>
    <span class="help-block">The curb wright of the car in kilograms (equivalent in pounds).</span>

    <div class="input-group">
        <span class="input-group-addon">Occupants weight</span>
        <input type="text" th:field="*{occupantsWeight}" class="form-control"/>
        <span class="input-group-addon">kg (000 pounds)</span>
    </div>
    <span class="help-block">The weight in kilograms of the occupants during the run (equivalent in pounds).</span>

    <div class="input-group">
        <span class="input-group-addon">Frontal area</span>
        <input type="text" th:field="*{frontalArea}" class="form-control"/>
        <span class="input-group-addon">m^2 (000 sqft)</span>
    </div>
    <span class="help-block">The frontal area of the car in square meters (equivalent in square feet).</span>

    <div class="input-group">
        <span class="input-group-addon">Coefficient of Drag</span>
        <input type="text" th:field="*{coefficientOfDrag}" class="form-control"/>
    </div>
    <span class="help-block">The drag coefficient of the car.</span>
</div>

</body>

</html>