<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="fields">
    <div class="form-group">
        <label class="col-sm-2 control-label">Final gear ratio:</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" th:field="*{finalGearRatio}"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Gear ratio:</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" th:field="*{gearRatio}"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Tyre diameter(mm):</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" th:field="*{tyreDiameter}"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Curb weight(kg):</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" th:field="*{carWeight}"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Occupants weight(kg):</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" th:field="*{occupantsWeight}"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Frontal area(m^2):</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" th:field="*{frontalArea}"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Coefficient of Drag:</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" th:field="*{coefficientOfDrag}"/>
        </div>
    </div>
</div>

</body>

</html>